<h1><mat-icon>contact_mail</mat-icon> Contact Us <mat-icon>contact_mail</mat-icon></h1>
<form (ngSubmit)="addContact()" #myForm="ngForm">
    <div>
        <mat-icon>phone</mat-icon>&nbsp;&nbsp;&nbsp;
        <mat-form-field>
        <!-- pattern makes sure phone is valid. -->
        <input matInput type="tel" name="phone" pattern="\+?[\d-]{3,20}"
        [(ngModel)]="contact.phone" placeholder="Phone (optional)"
        autofocus #phone="ngModel">
        </mat-form-field>
        <span *ngIf="phone.dirty&&phone.invalid">
            Invalid Phone Number.<br>
            Length MUST be 3-20 chars.
        </span>
    </div>
    <div>
        <mat-icon>email</mat-icon>&nbsp;&nbsp;&nbsp;
        <mat-form-field>
        <!-- pattern makes sure email is valid -->
        <input matInput type="email" name="email" pattern="\w{1,10}\.?\w{1,10}@\w{1,10}\.\w{1,10}(\.\w{1,10}){0,3}"
        [(ngModel)]="contact.email" placeholder="Email (optional)"
        email #email="ngModel">
        </mat-form-field>
        <span *ngIf="email.dirty&&email.invalid">
            Invalid Email
        </span>
    </div>
    <div>
        <mat-icon>message</mat-icon>&nbsp;&nbsp;&nbsp;
        <mat-form-field>
        <!-- pattern makes sure message is not all blank. -->
        <textarea matInput name="message" pattern="\w.*"
        [(ngModel)]="contact.message" placeholder="Message"
        required #message="ngModel">
        </textarea>
        </mat-form-field>
        <span *ngIf="message.dirty&&message.invalid">
            Invalid Message
        </span>
        </div>
    <div>
        <button mat-button [disabled]="myForm.form.invalid">
            Send&nbsp;&nbsp;<mat-icon>send</mat-icon>
        </button>
    </div>
    <div>
        <button mat-button type="reset">
            Reset&nbsp;&nbsp;<mat-icon>cached</mat-icon>
        </button>
    </div>
</form>
