USE [master]
GO
/****** Object:  Database [MemoryGame]    Script Date: 08/12/2018 20:03:37 ******/
CREATE DATABASE [MemoryGame]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MemoryGame', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MemoryGame.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MemoryGame_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MemoryGame_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MemoryGame].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MemoryGame]
GO
USE [MemoryGame]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 08/12/2018 20:03:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[DataAdded] [datetime] NOT NULL,
	[Feedback] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameResults]    Script Date: 08/12/2018 20:03:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameResults](
	[GameResultID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[TimeSpan] [time](7) NOT NULL,
	[Steps] [int] NOT NULL,
 CONSTRAINT [PK_GameResults] PRIMARY KEY CLUSTERED 
(
	[GameResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 08/12/2018 20:03:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ImageFileName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 08/12/2018 20:03:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](320) NULL,
	[Message] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08/12/2018 20:03:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](320) NULL,
	[BirthDate] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([FeedbackID], [UserID], [DataAdded], [Feedback]) VALUES (1, 1, CAST(N'2018-11-15T12:20:12.000' AS DateTime), N'I love this game.')
INSERT [dbo].[Feedbacks] ([FeedbackID], [UserID], [DataAdded], [Feedback]) VALUES (2, 1, CAST(N'2018-11-15T14:40:15.000' AS DateTime), N'Good game!')
INSERT [dbo].[Feedbacks] ([FeedbackID], [UserID], [DataAdded], [Feedback]) VALUES (3, 1, CAST(N'2018-11-15T15:55:34.000' AS DateTime), N'Nice website...')
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
SET IDENTITY_INSERT [dbo].[GameResults] ON 

INSERT [dbo].[GameResults] ([GameResultID], [UserID], [DateAdded], [TimeSpan], [Steps]) VALUES (3, 1, CAST(N'2018-11-15T12:20:56.000' AS DateTime), CAST(N'00:41:00' AS Time), 14)
INSERT [dbo].[GameResults] ([GameResultID], [UserID], [DateAdded], [TimeSpan], [Steps]) VALUES (4, 1, CAST(N'2018-11-15T13:33:57.000' AS DateTime), CAST(N'01:28:00' AS Time), 22)
INSERT [dbo].[GameResults] ([GameResultID], [UserID], [DateAdded], [TimeSpan], [Steps]) VALUES (5, 1, CAST(N'2018-11-15T15:55:42.000' AS DateTime), CAST(N'00:35:00' AS Time), 18)
SET IDENTITY_INSERT [dbo].[GameResults] OFF
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([ImageID], [ImageFileName]) VALUES (1, N'card1.jpg')
INSERT [dbo].[Images] ([ImageID], [ImageFileName]) VALUES (2, N'card2.jpg')
INSERT [dbo].[Images] ([ImageID], [ImageFileName]) VALUES (3, N'card3.jpg')
SET IDENTITY_INSERT [dbo].[Images] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [DateAdded], [Phone], [Email], [Message]) VALUES (1, CAST(N'2018-11-15T11:30:01.000' AS DateTime), N'054-1114555', N'franks@gmail.com', N'Hello World.')
INSERT [dbo].[Messages] ([MessageID], [DateAdded], [Phone], [Email], [Message]) VALUES (2, CAST(N'2018-11-15T12:22:02.000' AS DateTime), NULL, NULL, N'Hi all!')
INSERT [dbo].[Messages] ([MessageID], [DateAdded], [Phone], [Email], [Message]) VALUES (4, CAST(N'2018-11-15T18:08:03.000' AS DateTime), NULL, N'jeremyu@ikea.com', N'How are you today?')
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [UserName], [Password], [Email], [BirthDate]) VALUES (1, N'Nick Fury', N'Nick', N'1111', N'nick@shield.com', CAST(N'1960-11-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [UserName], [Password], [Email], [BirthDate]) VALUES (2, N'Steve Rogers', N'Cap', N'2222', N'cap@shield.com', CAST(N'1982-02-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [UserName], [Password], [Email], [BirthDate]) VALUES (3, N'Tony Stark', N'Tony', N'3333', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Feedbacks] ADD  CONSTRAINT [DF_Feedbacks_DataAdded]  DEFAULT (getdate()) FOR [DataAdded]
GO
ALTER TABLE [dbo].[GameResults] ADD  CONSTRAINT [DF_GameResults_DateAdded]  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[Messages] ADD  CONSTRAINT [DF_Messages_DateAdded]  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Users]
GO
ALTER TABLE [dbo].[GameResults]  WITH CHECK ADD  CONSTRAINT [FK_GameResults_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GameResults] CHECK CONSTRAINT [FK_GameResults_Users]
GO
USE [master]
GO
