<h1><mat-icon>home</mat-icon> Home <mat-icon>home</mat-icon></h1>
<div>
<p>
    Our website features a Marvel Memory Game and a lot more options and info.<br>
    We have public and available-to-all data such as game results of our users.<br>
    However, <b>only registered users</b> may give us feedbacks and play the game.<br>
    This memory game is perfect for all Marvel and Avengers fans!<br>
    <mat-icon>sentiment_satisfied_alt</mat-icon> Have fun! <mat-icon>sentiment_satisfied_alt</mat-icon><br>
</p>
</div>
<img src="https://i.pinimg.com/originals/41/e2/33/41e233b9fc1d226d1ff6a59a85206a22.png" id="ourLogo" title="Our logo">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Marvel-Comics-Logo.svg/2000px-Marvel-Comics-Logo.svg.png" id="marvelLogo" title="Marvel logo">
<br><br>
<img src="https://pmcvariety.files.wordpress.com/2014/04/01-avengers-2012.jpg?w=1000&h=563&crop=1">