<h1><mat-icon>how_to_reg</mat-icon> Login <mat-icon>how_to_reg</mat-icon></h1>
<!-- <form (ngSubmit)="send()" #myForm="ngForm"> -->
<form *ngIf="!usersService.isLoggedIn()" (ngSubmit)="login()" #myForm="ngForm">
    <div>
        <mat-icon>account_box</mat-icon>&nbsp;&nbsp;&nbsp;
        <mat-form-field>
        <input matInput type="text" name="userName"
        [(ngModel)]="user.userName" placeholder="User Name"
        required autofocus #userName="ngModel">
        </mat-form-field>
        <span *ngIf="userName.dirty&&userName.invalid">
            Missing User Name
        </span>
    </div>
    <div>
        <mat-icon>vpn_key</mat-icon>&nbsp;&nbsp;&nbsp;
        <mat-form-field>
        <input matInput type="password" name="password"
        [(ngModel)]="user.password" placeholder="Password"
        required #password="ngModel">
        </mat-form-field>
        <span *ngIf="password.dirty&&password.invalid">
            Missing Password
        </span>
    </div>
    <div>
        <button mat-button [disabled]="myForm.form.invalid">
            Send&nbsp;&nbsp;<mat-icon>send</mat-icon>
        </button>
    </div>
    <div>
        <button mat-button type="reset">
            Reset&nbsp;&nbsp;<mat-icon>cached</mat-icon>
        </button>
    </div>
</form>
<p *ngIf="usersService.isLoggedIn()">
    You are logged in as: {{userLoggedIn}}
</p>
<button mat-button *ngIf="usersService.isLoggedIn()" (click)="signOut()">
    Sign out&nbsp;&nbsp;<mat-icon>exit_to_app</mat-icon>
</button>