<h1><mat-icon>how_to_reg</mat-icon> Login <mat-icon>how_to_reg</mat-icon></h1>
<form *ngIf="!usersService.isLoggedIn()" (ngSubmit)="login()" #myForm="ngForm">
    <div>
        <mat-icon>account_box</mat-icon>&nbsp;&nbsp;&nbsp;
        <mat-form-field>
        <!-- pattern makes sure user name is valid. -->
        <input matInput type="text" name="userName" pattern="[^\W_]{3,20}"
        [(ngModel)]="user.userName" placeholder="User Name"
        required autofocus #userName="ngModel">
        </mat-form-field>
        <span *ngIf="userName.dirty&&userName.invalid">
            Invalid User Name.<br>
            Use ONLY letters and digits.<br>
            Length MUST be 3-20 chars.
        </span>
    </div>
    <div>
        <mat-icon>vpn_key</mat-icon>&nbsp;&nbsp;&nbsp;
        <mat-form-field>
        <!-- pattern makes sure password is valid. -->
        <input matInput type="password" name="password" pattern="\S{4,20}"
        [(ngModel)]="user.password" placeholder="Password"
        required #password="ngModel">
        </mat-form-field>
        <span *ngIf="password.dirty&&password.invalid">
            Invalid Password.<br>
            DO NOT enter spaces.<br>
            Length MUST be 4-20 chars.
        </span>
    </div>
    <div>
        <button mat-button [disabled]="myForm.form.invalid">
            Send&nbsp;&nbsp;<mat-icon>send</mat-icon>
        </button>
    </div>
    <div>
        <button mat-button type="reset">
            Reset&nbsp;&nbsp;<mat-icon>cached</mat-icon>
        </button>
    </div>
</form>
<p *ngIf="usersService.isLoggedIn()">
    You are logged in as: {{userLoggedIn}}
</p>
<button mat-button *ngIf="usersService.isLoggedIn()" (click)="signOut()">
    Sign out&nbsp;&nbsp;<mat-icon>exit_to_app</mat-icon>
</button>
