h1{
    font-size: 33px;
    text-decoration: underline;
}
table{
    margin: 30px auto;
    font-size: 22px;
}
#first{
    background-color: lightgray;
}
#first:hover{
    background-color: red;
}
tr:nth-child(even){
    background-color: powderblue;
}
tr:nth-child(odd){
    background-color: plum;
}
tr:hover{
    background-color: yellow;
}
img{
    position: fixed;
    left: 20px;
    bottom: 645px;
}
