<a routerLink="/home" routerLinkActive="the-chosen-one">Home</a> | 
<a routerLink="/register" routerLinkActive="the-chosen-one">Register</a> | 
<a routerLink="/login" routerLinkActive="the-chosen-one">Login</a> |
<a routerLink="/feedbacks" routerLinkActive="the-chosen-one">Feedbacks</a> |
<a routerLink="/results" routerLinkActive="the-chosen-one">Results</a> |
<a routerLink="/contact" routerLinkActive="the-chosen-one">Contact Us</a> |
<a routerLink="/about" routerLinkActive="the-chosen-one">About</a> |
<a routerLink="/feedback" routerLinkActive="the-chosen-one">Give a Feedback</a> |
<a routerLink="/game" routerLinkActive="the-chosen-one">Game</a>